#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.chat-box {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.sent {
  align-self: flex-end;  /* Aligns sender messages to the right */
  background-color: #0084ff;  /* Light blue background for sent messages */
  color: white;  /* White text color for sent messages */
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0;
  max-width: 70%;  /* Optional: limit width */
}

.received {
  align-self: flex-start;  /* Aligns received messages to the left */
  background-color: #f1f1f1;  /* Light gray background for received messages */
  color: black;  /* Black text color for received messages */
  padding: 10px;
  border-radius: 5px;
  margin: 15px 0;
  max-width: 70%;  /* Optional: limit width */
}

